- present(@product) do |product|
  #product(data-product-id="#{product.id}")
    .container
      %h1
        = product.name
        - if product.reviews.any?
          #average-rating.reviews__rating{ data: { score: product.average_rating } }
      .row
        .col-xs-12.col-md-4
          = image_tag(product.image_url, id: 'product-image', class: 'img-responsive', alt: '')
          %p.product__price-tag
            = product.formatted_price
          %p
            %strong Colour
            %br
            = product.colour
            %p
              This product has been viewed
              = @view_count
              times
          %p
            = link_to 'Back', products_path, class: 'btn btn-default'
            - if authorize @product, :edit?
              = link_to 'Edit', edit_product_path(product), class: 'btn btn-default'
            - if authorize @product, :destroy?
              = link_to 'Delete', product_path(product), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' }
        .col-xs-12.col-md-8
          .product_checkout
            - if signed_in?
              = form_with url: payments_url do |f|
                = f.hidden_field :product_id, value: product.id
                = render 'shared/stripe_checkout_button', product: product, user: current_user
            - else
              = link_to 'Pay with Card', sign_in_path, class: 'btn btn-primary'
          .product__description
            = product.description

            %hr
            %h3 What our customers say
            #product-reviews
              // Frontend rendering here
