- present(@product) do |product|
  .container
    %h1= product.name
    .row
      .col-xs-12.col-md-4
        = image_tag(product.image_url, class: 'img-responsive', alt: '')
        %p.product__price-tag
          = product.formatted_price
        %p
          %strong Colour
          %br
          = product.colour
        %p
          = link_to 'Back', :back, class: 'btn btn-default'
          = link_to 'Edit', edit_product_path(product), class: 'btn btn-default'
          = link_to 'Delete', product_path(product), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' }
      .col-xs-12.col-md-8
        .product__description
          = product.description
