#products-page
  - present(@product) do |product|
    .container
      %h1= product.name
      .row
        .col-xs-12.col-md-4
          = image_tag(product.image_url, class: 'img-responsive', alt: '')
          = number_to_currency(product.price, unit: '€')
        .col-xs-12.col-md-8
          %p
            %strong Description
            %br
            = product.description
          %p
            %strong Colour
            %br
            = @product.colour
