- present(@product) do |product|
  .container
    %h1= product.name
    .row
      .col-xs-12.col-md-4
        = image_tag(product.image_url, class: 'img-responsive', alt: '')
        %p.product__price-tag
          = product.formatted_price
        %p
          %strong Colour
          %br
          = product.colour
        %p
          = link_to 'Back', products_path, class: 'btn btn-default'
          = link_to 'Edit', edit_product_path(product), class: 'btn btn-default'
          = link_to 'Delete', product_path(product), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' }
      .col-xs-12.col-md-8
        .product__description
          = product.description

          %hr
          .product__reviews
            %h3 What our customers say
            - if @reviews.any?
              - @reviews.each do |review|
                - present(review) do |review|
                  .product__reviews-review
                    %strong= review.headline
                    .product__reviews-rating{ data: { score: review.rating } }
                    %p= review.comment
            - else
              There are no reviews yet.

          - if signed_in?
            %hr
            %h4 Submit a review
            = form_for [@product, @product.reviews.new] do |f|
              .form-group
                = f.label :comment
                = f.text_area :comment, value: params[:review].try(:[], :comment), rows: 6, class: 'form-control'

              .form-group
                = f.label :rating
                .rating

              = f.submit 'Create a review', class: 'btn btn-primary'
