- present(review) do |review|
  .reviews__review
    %strong= review.user
    %i= "#{review.time_ago} ago"
    .reviews__rating{ data: { score: review.rating } }
    %p= review.comment

    - if signed_in? && current_user.admin?
      = link_to 'Delete', polymorphic_path([review.reviewable, review]), method: :delete
